body {
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

form textarea {
  text-align: left;
}

.table-header {
  font-weight: bold;
}

.theme-toggle {
  font-size: 70%;
}
