form {
  align-items: center;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) min-content;

  :nth-child(2n) {
    justify-self: left;
  }
}

form * {
  margin: 10px;
  padding: 10px;
}

form select {
  text-align: center;
}

form [type='submit'] {
  margin-top: 20px;
}

label::after {
  content: ':';
}
