.vote-block {
  font-family: 'Play', sans-serif;
}

.vote-block .table-headline {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.vote-block .table-body .header {
  font-weight: bold;
}

.vote-block h1 {
  font-size: 2rem;
  text-align: center;
}

.vote-block h2 {
  font-size: 1.75rem;
  text-align: center;
}

.vote-block select {
  text-align: center;
}
