@keyframes spinner {
  from {
    border-top-color: hsl(96, 100%, 43%);
    border-top-width: 6px;
    transform: rotate(0deg);
  }

  33% {
    border-top-color: hsl(14, 100%, 43%);
    border-top-width: 8px;
    transform: rotate(120deg);
  }

  66% {
    border-top-color: hsl(236, 100%, 43%);
    border-top-width: 8px;
    transform: rotate(240deg);
  }

  to {
    border-top-color: hsl(96, 100%, 43%);
    border-top-width: 6px;
    transform: rotate(360deg);
  }
}

.loader {
  cursor: wait;
  position: relative;
}

.loader::before {
  animation: spinner 1s linear infinite;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-top-style: solid;
  box-sizing: border-box;
  content: '';
  height: 200px;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.loader::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
