extends ../extends/layout

block variables
  - var title= surveyName

block content
  h1 Hej #{participantName}!
  h2 Wilkommen zur Umfrage #{surveyName}!
  p Die Umfrage ist bereits beendet!
  include ../includes/survey-form
