extends ../extends/layout

block variables
  - var title = 'Danke schön!'

block content
  h1 Danke schön, #{participantName}! Deine Stimme zählt!
  if answers
    h2 Deine Antworten
    dl
      each answer in answers
        dt= answer.question
        dd= answer.answer
    p Wir haben Dir eine Spam-Mail mit Deinen Antworten geschickt :-)
  h2
    a(href=link) Ich will nochmal!
