.vote-block form:nth-child(2n) {
  justify-self: right;
} 

.vote-block form:last-child {
  margin-right: 20px;
}

.vote-block form {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
