name: BE/SaveSurveysService.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'backend/SaveSurveyService/**'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: SaveSurveyService-Test
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: use node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: install dependencies
        run: npm install
      - name: set config
        run: npx firebase-tools functions:config:set --project=$PROJECT_ID savesurveyservice.collectionname=$COLLECTION_NAME savesurveyservice.topicname=$TOPIC_NAME savesurveyservice.projectid=$PROJECT_ID savesurveyservice.topicnamecreated=$TOPIC_NAME_CREATED --token "$FIREBASE_CI_TOKEN"
        env:
          FIREBASE_CI_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}
          COLLECTION_NAME: ${{ secrets.COLLECTION_NAME }}
          TOPIC_NAME: ${{ secrets.TOPIC_NAME }}
          PROJECT_ID: surveys-services-test
          TOPIC_NAME_CREATED: ${{ secrets.TOPIC_NAME_CREATED }}
      - name: deploy firebase function
        run: npx firebase-tools deploy --project=test --only functions --token "$FIREBASE_CI_TOKEN"
        env:
          FIREBASE_CI_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}
  prod:
    runs-on: ubuntu-latest
    needs:
      - test
    environment:
      name: SaveSurveyService-Prod
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: use node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: install dependencies
        run: npm install
      - name: set config
        run: npx firebase-tools functions:config:set --project=$PROJECT_ID savesurveyservice.collectionname=$COLLECTION_NAME savesurveyservice.topicname=$TOPIC_NAME savesurveyservice.projectid=$PROJECT_ID savesurveyservice.topicnamecreated=$TOPIC_NAME_CREATED --token "$FIREBASE_CI_TOKEN"
        env:
          FIREBASE_CI_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}
          COLLECTION_NAME: ${{ secrets.COLLECTION_NAME }}
          TOPIC_NAME: ${{ secrets.TOPIC_NAME }}
          PROJECT_ID: surveys-services
          TOPIC_NAME_CREATED: ${{ secrets.TOPIC_NAME_CREATED }}
      - name: deploy firebase function
        run: npx firebase-tools deploy --project=prod --only functions --token "$FIREBASE_CI_TOKEN"
        env:
          FIREBASE_CI_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}
defaults:
  run:
    working-directory: 'backend/SaveSurveyService/functions'