name: BE/SaveSurveysService.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'backend/SaveSurveyService/**'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: use node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: install dependencies
        working-directory: functions
        run: npm install
      - name: set config
        working-directory: functions
        run: npx firebase-tools functions:config:set --project=test savesurveyservice.collectionname=$COLLECTION_NAME savesurveyservice.topicname=$TOPIC_NAME --token "$FIREBASE_CI_TOKEN"
        env:
          FIREBASE_CI_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}
          COLLECTION_NAME: ${{ secrets.COLLECTION_NAME }}
          TOPIC_NAME: ${{ secrets.TOPIC_NAME }}          
      - name: deploy firebase function
        run: npx firebase-tools deploy --project=test --only functions --token "$FIREBASE_CI_TOKEN"
        env:
          FIREBASE_CI_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}