name: BE/SaveSurveysService.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'backend/SaveSurveyService/**'
  workflow_dispatch:
env:
  FUNCTION_NAME: SaveSurveyService
  SOURCE_DIR: 'backend/SaveSurveyService/functions'
jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: SaveSurveyService-Test
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
      - name: deploy
        uses: google-github-actions/deploy-cloud-functions@v0
        with:
          name: ${{ env.FUNCTION_NAME }}
          runtime: nodejs14
          project_id: ${{ secrets.PROJECT_ID }}
          source_dir: ${{ env.SOURCE_DIR }}
          env_vars: ENV_COLLECTION_NAME=${{ secrets.COLLECTION_NAME }},ENV_PROJECT_ID=${{ secrets.PROJECT_ID }},ENV_TOPIC_NAME_SUB=${{ secrets.TOPIC_NAME_SUB }},ENV_TOPIC_NAME_PUB=${{ secrets.TOPIC_NAME_PUB }}
          event_trigger_type: google.pubsub.topic.publish
          event_trigger_resource: projects/${{ secrets.PROJECT_ID }}/topics/${{ secrets.TOPIC_NAME_SUB }}