name: SecretManager
on:
  workflow_dispatch:
  workflow_run:
    workflows: [GoLive]
    types: [completed]
jobs:
  createEmailPassword:
    uses: MichaelDiers/shared-workflows/.github/workflows/deploy-google-cloud-secret.yaml@main
    secrets:
      gcpCredentialsTest: ${{ secrets.GLOBAL_GCP_CREDENTIALS_TEST }}
      gcpCredentialsStage: ${{ secrets.GLOBAL_GCP_CREDENTIALS_STAGE }}
      gcpCredentialsProd: ${{ secrets.GLOBAL_GCP_CREDENTIALS_PROD }}
      projectIdTest: ${{ secrets.GLOBAL_PROJECT_ID_TEST }}
      projectIdStage: ${{ secrets.GLOBAL_PROJECT_ID_STAGE }}
      projectIdProd: ${{ secrets.GLOBAL_PROJECT_ID_PROD }}
      secretKey: ${{ secrets.GLOBAL_SECRET_SURVEYS_EMAIL_PASSWORD_KEY }}
      secretValue: ${{ secrets.GLOBAL_SECRET_SURVEYS_EMAIL_PASSWORD_VALUE }}