name: BE/SurveyViewerService.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'backend/SurveyViewerService/**'
  workflow_dispatch:
env:
  APP_SETTINGS_JSON: 'backend/SurveyViewerService/SurveyViewerService/appsettings.json'
  CONFIG: Release
  SOURCE_DIR: 'backend/SurveyViewerService/SurveyViewerService'
  ENTRY_POINT: SurveyViewerService.SurveyViewerFunction
  FUNCTION_NAME: SurveyViewerService
  SLN_FILE: 'backend/SurveyViewerService/SurveyViewerService.sln'
  CollectionNameSurveys: ${{ secrets.GLOBAL_SURVEYS_COLLECTION_NAME }} 
jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: SurveyViewerService-Test
    env:
      PROJECT_ID: ${{ secrets.GLOBAL_PROJECT_ID_TEST }}
      GCP_CREDENTIALS: ${{ secrets.GLOBAL_GCP_CREDENTIALS_TEST }}
    steps:
      - name: checkout source
        uses: actions/checkout@v2
      - name: configure appsettings.json
        uses: microsoft/variable-substitution@v1
        with:
          files: ${{ env.APP_SETTINGS_JSON }}
        env:
          ProjectId: ${{ env.PROJECT_ID }}
          CollectionNameSurveys: ${{ env.CollectionNameSurveys }}
      - name: use .net core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: build
        run: dotnet build ${{ env.SLN_FILE }} --configuration "${{ env.CONFIG }}"
      - name: test
        run: dotnet test ${{ env.SLN_FILE }} --configuration "${{ env.CONFIG }}" --no-build
      - name: auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ env.GCP_CREDENTIALS }}'
      - name: deploy
        uses: google-github-actions/deploy-cloud-functions@v0
        with:
          name: ${{ env.FUNCTION_NAME }}
          runtime: dotnet3
          project_id: ${{ env.PROJECT_ID }}
          source_dir: ${{ env.SOURCE_DIR }}
          entry_point: ${{ env.ENTRY_POINT }}