name: BE/SurveyTester2.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'backend/SurveyTester/**'
  workflow_dispatch:
env:
  FUNCTION_NAME: SurveyTester
  SOURCE_DIR: 'backend/SurveyTester'
jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: SurveyTester-Stage2
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
      - name: deploy
        uses: google-github-actions/deploy-cloud-functions@v0
        with:
          name: ${{ env.FUNCTION_NAME }}
          runtime: nodejs14
          project_id: ${{ secrets.PROJECT_ID }}
          source_dir: ${{ env.SOURCE_DIR }}
          env_vars: surveytester.collectionname=$COLLECTION_NAME,surveytester.projectid=$PROJECT_ID,surveytester.documentid=$DOCUMENT_ID,surveytester.topicname=$TOPIC_NAME          