name: SurveyFrame ci/cd
on:
  push:
    branches:
      - main
    paths:
      - 'frontend/SurveyFrame/**'
  workflow_dispatch:
  workflow_run:
    workflows: [GoLive]
    types: [completed]
jobs:
  deployGoogleCloudFunction:
    uses: MichaelDiers/shared-workflows/.github/workflows/node-deploy-google-cloud-function-vnext.yaml@main
    with:
      functionName: frame
      sourceDirectory: frontend/SurveyFrame
    secrets:
      gcpCredentialsTest: ${{ secrets.GLOBAL_GCP_CREDENTIALS_TEST }}
      gcpCredentialsStage: ${{ secrets.GLOBAL_GCP_CREDENTIALS_STAGE }}
      gcpCredentialsProd: ${{ secrets.GLOBAL_GCP_CREDENTIALS_PROD }}
      projectIdTest: ${{ secrets.GLOBAL_PROJECT_ID_TEST }}
      projectIdStage: ${{ secrets.GLOBAL_PROJECT_ID_STAGE }}
      projectIdProd: ${{ secrets.GLOBAL_PROJECT_ID_PROD }}
      envVarsTest: ''
      envVarsStage: ''
      envVarsProd: ''
