name: BE/SurveyEvaluatorService.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'backend/SurveyEvaluatorService/SurveyEvaluatorService/**'
  workflow_dispatch:
env:
  APP_SETTINGS_JSON: 'backend/SurveyEvaluatorService/SurveyEvaluatorService/appsettings.json'
  CONFIG: Release
  SOURCE_DIR: 'backend/SurveyEvaluatorService/SurveyEvaluatorService'
  ENTRY_POINT: SurveyEvaluatorService.SurveyEvaluatorFunction
  FUNCTION_NAME: SurveyEvaluatorService
  SLN_FILE: 'backend/SurveyEvaluatorService/SurveyEvaluatorService.sln'
  COLLECTION_NAME_SURVEY_RESULTS: ${{ secrets.GLOBAL_SURVEY_RESULTS_COLLECTION_NAME }}
jobs:  
  test:
    runs-on: ubuntu-latest
    environment:
      name: SurveyEvaluatorService-Test
    env:
      GCP_CREDENTIALS: ${{ secrets.GLOBAL_GCP_CREDENTIALS_TEST }}
      PROJECT_ID: ${{ secrets.GLOBAL_PROJECT_ID_TEST }}
    steps:      
      - name: checkout source
        uses: actions/checkout@v2
      - name: configure appsettings.json
        uses: microsoft/variable-substitution@v1
        with:
          files: ${{ env.APP_SETTINGS_JSON }}
        env:          
          ProjectId: ${{ env.PROJECT_ID }}
      - name: use .net core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: build
        run: dotnet build ${{ env.SLN_FILE }} --configuration "${{ env.CONFIG }}"
      - name: test
        run: dotnet test ${{ env.SLN_FILE }} --configuration "${{ env.CONFIG }}" --no-build
      - name: auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ env.GCP_CREDENTIALS }}'
      - name: deploy
        uses: google-github-actions/deploy-cloud-functions@v0
        with:
          name: ${{ env.FUNCTION_NAME }}
          runtime: dotnet3          
          project_id: ${{ env.PROJECT_ID }}          
          source_dir: ${{ env.SOURCE_DIR }}
          entry_point: ${{ env.ENTRY_POINT }}
          event_trigger_type: providers/cloud.firestore/eventTypes/document.create
          event_trigger_resource: projects/${{ env.PROJECT_ID }}/databases/(default)/documents/${{ env.COLLECTION_NAME_SURVEY_RESULTS }}/{result}