name: nugets/Surveys.Common.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'nugets/Surveys.Common/Surveys.Common/**'
  workflow_dispatch:
env:
  SLN_FILE: 'nugets/Surveys.Common/Surveys.Common.sln'
  CSPROJ_FOLDER: 'nugets/Surveys.Common/Surveys.Common'
  CSPROJ_NAME: 'Surveys.Common'
  CONFIG: Release
  NUGET_AUTH_TOKEN: ${{ secrets.NUGET_AUTH_TOKEN }}
  PACKAGE_VERSION: '1.0'
jobs:  
  prod:
    runs-on: ubuntu-latest
    steps:      
      - name: checkout source
        uses: actions/checkout@v2
      - name: use .net core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
          source-url: https://nuget.pkg.github.com/MichaelDiers/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ env.NUGET_AUTH_TOKEN }}
      - name: build
        run: dotnet build ${{ env.SLN_FILE }} --configuration "${{ env.CONFIG }}"
      - name: test
        run: dotnet test ${{ env.SLN_FILE }} --configuration "${{ env.CONFIG }}" --no-build
      - name: pack
        run: dotnet pack "${{ env.CSPROJ_FOLDER }}/${{ env.$CSPROJ_NAME }}.csproj" -c "${{ env.CONFIG }}" -p:PackageVersion=${{ env.PACKAGE_VERSION }}.$GITHUB_RUN_NUMBER --no-build
      - name: publish
        run: dotnet nuget push "${{ env.CSPROJ_FOLDER }}/bin/${{ env.CONFIG }}/*.nupkg"
