name: SurveyVote ci/cd
on:
  pull_request:
    branches:
      - stage
      - prod
    paths:
      - 'frontend/SurveyVote/**'
      - '.github/workflows/SurveyVote.yaml'
  push:
    branches:
      - main
    paths:
      - 'frontend/SurveyVote/**'
      - '.github/workflows/SurveyVote.yaml'
  workflow_dispatch:
  workflow_run:
    workflows: [GoLiveTest, GoLiveStage, GoLiveProd]
    types: [completed]
jobs:
  deployGoogleCloudFunction:
    uses: MichaelDiers/shared-workflows/.github/workflows/node-deploy-google-cloud-function-vnext.yaml@main
    with:
      functionName: vote
      sourceDirectory: frontend/SurveyVote
    secrets:
      gcpCredentialsTest: ${{ secrets.GLOBAL_GCP_CREDENTIALS_TEST }}
      gcpCredentialsStage: ${{ secrets.GLOBAL_GCP_CREDENTIALS_STAGE }}
      gcpCredentialsProd: ${{ secrets.GLOBAL_GCP_CREDENTIALS_PROD }}
      projectIdTest: ${{ secrets.GLOBAL_PROJECT_ID_TEST }}
      projectIdStage: ${{ secrets.GLOBAL_PROJECT_ID_STAGE }}
      projectIdProd: ${{ secrets.GLOBAL_PROJECT_ID_PROD }}
      envVarsTest: ENV_SURVEYS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEYS_COLLECTION_NAME }}-test,ENV_SURVEY_STATUS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEYS_STATUS_COLLECTION_NAME }}-test,ENV_SURVEY_RESULTS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEY_RESULTS_COLLECTION_NAME }}-test,ENV_SAVE_SURVEY_RESULT_TOPIC=${{ secrets.GLOBAL_PUBSUB_TOPIC_SAVE_SURVEY_RESULT }}_TEST
      envVarsStage: ENV_SURVEYS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEYS_COLLECTION_NAME }}-stage,ENV_SURVEY_STATUS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEYS_STATUS_COLLECTION_NAME }}-stage,ENV_SURVEY_RESULTS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEY_RESULTS_COLLECTION_NAME }}-stage,ENV_SAVE_SURVEY_RESULT_TOPIC=${{ secrets.GLOBAL_PUBSUB_TOPIC_SAVE_SURVEY_RESULT }}_STAGE
      envVarsProd: ENV_SURVEYS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEYS_COLLECTION_NAME }}-prod,ENV_SURVEY_STATUS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEYS_STATUS_COLLECTION_NAME }}-prod,ENV_SURVEY_RESULTS_COLLECTION_NAME=${{ secrets.GLOBAL_SURVEY_RESULTS_COLLECTION_NAME }}-prod,ENV_SAVE_SURVEY_RESULT_TOPIC=${{ secrets.GLOBAL_PUBSUB_TOPIC_SAVE_SURVEY_RESULT }}_PROD
