name: SurveyFrame (semantic v1)
on:
  push:
    branches:
      - main
    paths:
      - 'frontend/SurveyFrame/**'
      - '.github/workflows/SurveyFrame.yaml'
  workflow_dispatch:
jobs:
  deployGoogleCloudFunction:
    uses: MichaelDiers/shared-workflows/.github/node-deploy-google-cloud-function-semantic.yaml@main
    with:
      functionName: frame
      sourceDirectory: frontend/SurveyFrame
    secrets:
      gcpCredentialsTest: ${{ secrets.GLOBAL_GCP_CREDENTIALS_TEST }}
      gcpCredentialsStage: ${{ secrets.GLOBAL_GCP_CREDENTIALS_STAGE }}
      gcpCredentialsProd: ${{ secrets.GLOBAL_GCP_CREDENTIALS_PROD }}
      projectIdTest: ${{ secrets.GLOBAL_PROJECT_ID_TEST }}
      projectIdStage: ${{ secrets.GLOBAL_PROJECT_ID_STAGE }}
      projectIdProd: ${{ secrets.GLOBAL_PROJECT_ID_PROD }}
      envVarsTest: ''
      envVarsStage: ''
      envVarsProd: ''
