name: FE/SurveyGateway.yaml
on:
  push:
    branches:
      - main
    paths:
      - 'frontend/SurveyGateway/**'
      - '.github/workflows/SurveyGateway.yaml'
  workflow_dispatch:
env:
  FUNCTION_NAME: gateway
  SOURCE_DIR: 'frontend/SurveyGateway'  
jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: SurveyGateway-Test
    env:
      GCP_CREDENTIALS: ${{ secrets.GLOBAL_GCP_CREDENTIALS_TEST }}
      PROJECT_ID: ${{ secrets.GLOBAL_PROJECT_ID_TEST }}
      ENV_GATEWAY_FRAME_TARGET: ${{ secrets.ENV_GATEWAY_FRAME_TARGET }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ env.GCP_CREDENTIALS }}'
      - name: deploy
        uses: google-github-actions/deploy-cloud-functions@v0
        with:
          name: ${{ env.FUNCTION_NAME }}
          runtime: nodejs14
          project_id: ${{ env.PROJECT_ID }}
          source_dir: ${{ env.SOURCE_DIR }}
          env_vars: ENV_GATEWAY_FRAME_TARGET=${{ env.ENV_GATEWAY_FRAME_TARGET }},GCLOUD_PROJECT=${{ env.PROJECT_ID }}
